<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
  </head>
  <body>
    <h2 class="text-center resetPassword">Forgot Password?</h2>
    <p>You can reset your password here.</p>
    <form>
      <input
        id="email"
        name="email"
        placeholder="email"
        class="resetPassword"
        type="email"
      />
      <input
        id="resetPasswordLinkBtn"
        name="recover-submit"
        class="btn btn-lg btn-primary btn-block"
        value="Send Reset Password Link"
        type="submit"
      />

      <input type="hidden" class="hide" name="token" id="token" value="" />
    </form>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
    integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="../../js/forgotPassword.js"></script>
</html>
